.register-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .register-container .form-group {
    margin-bottom: 0.5rem; /* Reduce spacing between form groups */
  }
  